<div class="main">
  <div class="body">
    <div class="container">
      <div class="bodyContainer">
        <h1>Traductor</h1>
        <div class="zonaTraduccion">
          <input type="text" placeholder="Escribe tu texto aqui">
          <textarea name="Traduccion" id="traduccion" placeholder="Tu traduccion estara aqui..." disabled></textarea>
        </div>
        <div class="botonesTraduccion">
          <button><a routerLink="/braille" routerLinkActive="active">Braille</a></button>
          <button style="padding: 12px 30px;">Traducir</button>
        </div>
      </div>
    </div>
  </div>
</div>