:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  min-height: 90vh;
  font-family: Arial, sans-serif;
}

.guess-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.game-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.card {
  width: 85%;
  /* max-width: 600px; */
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  /* width: 200px;
  height: 200px; */
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

.info-section {
  text-align: center;
  margin-top: 15px;
}

.inputs {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  margin: 15px 0;
  justify-content: center;
  /* width: 80%; */
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
  background-color: #f9f9f9;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* margin-bottom: 20px; */
}

.group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.imagen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 66%;
  flex-wrap: wrap;
}

.btn {
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn.primary {
  background: #007bff;
}

.btn.primary:hover {
  background: #0056b3;
}

.btn.close {
  background: #ff0000;
}

.btn.close:hover {
  background: #b30000;
}

.btn.secondary {
  background: #6c757d;
}

.btn.secondary:hover {
  background: #5a6268;
}

.btn.success {
  background: #28a745;
}

.btn.success:hover {
  background: #218838;
}

.mensaje{
      all: unset;
    box-sizing: border-box;
    color: #2d2d2d;
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    min-width: 250px;
    max-width: 300px;
    box-shadow: 0 1px 10px #0006;
    z-index: 1000000000;
    position: fixed;
    top: 50%;
    right: 50;
    background-color: #fff;
}

.contenedor-fondo{
  fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.fondo{
      background-color: rgb(0, 0, 0);
    opacity: 0.7;
    pointer-events: auto;
    cursor: auto;
        width: 100%;
    height: 100%;
}

@media ((height < 750px)and (width < 500px)) {
  .card {
    display: flex;
    flex-direction: column-reverse;
  }

  .imagen {
    width: 100%;
    align-content: center;
  }

  p#Pistas {
    width: 100%;
  }

  .inputs {
    display: flex;
    margin: 0;
    flex-direction: column;
  }
}
