<div class="guess-container" id="guess-container">
  <h2>Guess the word</h2>

  <div class="game-info" *ngIf="imageUrl" id="game-info">
    <p>⏱️ Tiempo: <span>{{ timeLeft }}</span></p>
    <p>🏆 Puntos: <span>{{ score }}</span></p>
    <button class="btn primary" style="padding: 0;" (click)="endGame()">Finalizar</button>
    <div class="mensaje" *ngIf="visible">
      <p>
        Felicidades has adivinado correctamente {{score}} de {{words}} palabras, sigue asi.
      </p>
      <div style="display: flex; flex-direction: row; gap: 1rem; justify-content: center;">
        <button class="btn close" ><a href="/" style="text-decoration: none; color:white">🏠Menu</a></button>
        <button class="btn success" (click)="continue()">Seguir jugando</button>
      </div>

    </div>
    <div class="contenedor-fondo" *ngIf="visible">
      <div class="fondo">

      </div>
    </div>
  </div>

  <div class="card" id="card">
    <div *ngIf="imageUrl" class="info-section">

      <app-keyboard-braille [(translation)]="translation" (brailleTranslation)="brailleTranslation($event)">
      </app-keyboard-braille>
    </div>
    <div class="imagen">

      <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen aleatoria" class="image" />
      <p id="Pistas"><strong>Pistas:</strong> {{ tagsImage.slice(0,5).toString() }}</p>
      <!-- <p><strong>Tag a adivinar:</strong> {{ tagsImage[0].toString() }}</p> -->
      <!-- <p><strong>Braille:</strong> {{ braille }}</p> -->
      <div class="group" id="group">
        <div class="inputs">
          <input [(ngModel)]="translation" disabled placeholder="Texto original" />
          <input [(ngModel)]="brailleTranslationText" disabled placeholder="Traducción en braille" />
        </div>

        <div class="buttons">
          <button class="btn secondary" (click)="clear()">Borrar</button>
          <button class="btn success" (click)="confirm()">Confirmar</button>


        </div>
      </div>
    </div>


    <!-- <button class="btn primary" (click)="nextWord()">🔄 Otra imagen</button> -->

  </div>

  <app-button-home></app-button-home>
</div>
