<div class="translator">
  <h2>Traductor Braille-Español</h2>
  <div class="translation">
  <input type="text" [(ngModel)]="text" placeholder="Ingresa una tecla">
  <button (click)="clear()">Limpiar</button>
</div>
</div>
<div class="buttons">
  <button (click)="addBrailleChar('⠁')">⠁</button>
  <button (click)="addBrailleChar('⠃')">⠃</button>
  <button (click)="addBrailleChar('⠉')">⠉</button>
  <button (click)="addBrailleChar('⠙')">⠙</button>
  <br>
  <button (click)="addBrailleChar('⠑')">⠑</button>
  <button (click)="addBrailleChar('⠋')">⠋</button>
  <button (click)="addBrailleChar('⠛')">⠛</button>
  <button (click)="addBrailleChar('⠓')">⠓</button>
  <br>
  <button (click)="addBrailleChar('⠊')">⠊</button>
  <button (click)="addBrailleChar('⠚')">⠚</button>
  <button (click)="addBrailleChar('⠅')">⠅</button>
  <button (click)="addBrailleChar('⠇')">⠇</button>
  <br>
  <button (click)="addBrailleChar('⠍')">⠍</button>
  <button (click)="addBrailleChar('⠝')">⠝</button>
  <button (click)="addBrailleChar('⠕')">⠕</button>
  <button (click)="addBrailleChar('⠏')">⠏</button>
  <br>
  <button (click)="addBrailleChar('⠟')">⠟</button>
  <button (click)="addBrailleChar('⠗')">⠗</button>
  <button (click)="addBrailleChar('⠎')">⠎</button>
  <button (click)="addBrailleChar('⠞')">⠞</button>
  <br>
  <button (click)="addBrailleChar('⠥')">⠥</button>
  <button (click)="addBrailleChar('⠧')">⠧</button>
  <button (click)="addBrailleChar('⠺')">⠺</button>
  <button (click)="addBrailleChar('⠭')">⠭</button>
  <br>
  <button (click)="addBrailleChar('⠽')">⠽</button>
  <button (click)="addBrailleChar('⠵')">⠵</button>
  <button (click)="addBrailleChar(' ')">&nbsp;</button> <!-- Espacio -->
</div>

