.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
  /* padding: 2%; */
  /* min-height: 100vh; */
  box-sizing: border-box;
}

.container {
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  box-shadow: inset 9px 9px 7px -3px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  width: 90%;
  max-width: 1600px;
  box-sizing: border-box;
  height: 85vh;
}

p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

h4 {
  margin-top: 15px;
}

.spanish,
.english {
  /* width: 50%; */
  padding: 2%;
  box-sizing: border-box;
  overflow: scroll;
}

.scroll{
      display: flex
;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    /* padding: 2%; */
    /* min-height: 100vh; */
    box-sizing: border-box;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4%;
    height: 85vh;
  }

  .spanish,
  .english {
    width: 100%;
    padding: 4%;
  }

  .container {
    width: 95%;
    border-radius: 1.5rem;
    padding: 5%;
  }

  h3 {
    font-size: 26px;
    text-align: center;
  }

  p {
    font-size: 15px;
  }

  .scroll {
    overflow-y: scroll;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

}


@media (max-width: 600px) {
  .main {
    padding: 3%;
    gap: 1.5rem;
    height: 90vh;
  }

  .container {
    padding: 6%;
    border-radius: 1rem;
  }

  h3 {
    font-size: 18px;
    text-align: center;
  }

  p {
    font-size: 10px;
    text-align: left;
  }

    .scroll {
    overflow-y: scroll;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
}


@media (max-height: 750px) {
  body {
    min-height: 100vh;
  }

  p {
    font-size: 12px;
  }

  h4 {
    font-size: 20px;
  }
}
