<div class="main">
  <div class="container">
    <h1>Traductor Braille - Español</h1>

    <div class="translation-area">
      <!-- <div class="braille-panel">
        <div class="buttons">
          <button (click)="changeBraille()">{{charOrNumber ? '#' : '⠟'}}</button>
          @if(!charOrNumber){
            <div *ngFor="let row of brailleChars" class="row">
              <button *ngFor="let char of row" (click)="addBrailleChar(char)">
                {{ char }}
              </button>
            </div>
          } @else{
            <div *ngFor="let row of brailleNumbers" class="row">
              <button *ngFor="let char of row" (click)="addBrailleChar(char)">
                {{ char }}
              </button>
            </div>
          }
        </div>
      </div> -->
      <app-keyboard-braille class="braille-panel" [(translation)]="translation"/>
      <div class="text-panel">
        <textarea disabled>{{ translation }}</textarea>
      </div>
    </div>

    <div class="action-buttons">
      <button id="config" routerLink="/" routerLinkActive="active">English</button>
      <button id="config" (click)="clear()">Erase</button>
    </div>

    <app-button-home></app-button-home>
  </div>
</div>
