<div class="main">
  <div class="body">
    <div class="container">
      <div class="bodyContainer">
        <div style="display: flex;height: 80%;">
          <div class="caracteresBraille">
            <h1>Traductor</h1>
          </div>
          <div class="zonaTraduccion">
            <textarea name="Traduccion" id="traduccion" ></textarea>
          </div>
        </div>
        <div class="botonesTraduccion">
          <button><a routerLink="/" routerLinkActive="active">English</a></button>
          <button style="padding: 12px 30px;">Erase</button>
        </div>
      </div>
    </div>
    <app-button-home></app-button-home>
  </div>
</div>
